body {
    margin: 0;
    padding: 0;
}

.content-head {
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.content-head h2{
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.popup {
    background-color: aquamarine;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 140%;
    transition: .3s ease all;
    transform: scale(0.7);
}

input#name1, input#name2, input#turn, input#days-data {
    width: 100%;
    height: 60px;
    font-size: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}

.fa-times:before {
    font-size: 25px;
    color: white;
    content: "\f00d";
}

.btns {
    height: 60px;
    font-size: 12px;
    width: 85px;
}

.dispo {
    justify-content: space-around;
    display: flex;
}

button.btn.btn-success.circle {
    width: 30px;
    border-radius: 50%;
    height: 30px;
}